table,tr,td,th{
    border: 1px solid black;
    width: 900px;
    height: 18px;
    font-size: 10px;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
.vv{
    text-align: center;
}
.cv{
    color: blue;
    text-align: center;
}
.vb{
    text-align: center;
    font-size: 15px;
}
.c{
    color: black;
    background-color: lightskyblue;
}
